<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/register.css" />
</head>
<body>
    <div class="aaa">
        <form action="/register" method="post">
            <h1 style="color: darkgray;">Welcome</h1>
            <input type="text" name="name" pattern="^[a-zA-Z]\w{5,17}$" placeholder="用户名(字母开头，长度6-12个字符)">
            <br/>
            <input type="password" pattern="^^[a-zA-Z]\w{5,17}$" name="password" placeholder="密码(字母开头，长度6-12个字符)"/>
            <br/>
            <input type="ture" name="password" placeholder="确认密码"/>
            <br/>
            <input type="submit" value="注册"/>
            <input type="submit" value="登录"/>

        </form>
    </div>
</body>
</html>